:root{
    --dark-green : #064E3B;
    --faint-green: #A7F3D0;
}
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: auto;
  text-align: center;
  background-color: var(--dark-green);
  color: white;
  padding: 1rem;
  /* height: 90vh */
}

.description{
    margin-bottom: 2.5rem;
}

label {
    color: var(--faint-green);
    font-size: 1.3rem;
}

#bill-amount{
    padding: 0.8rem;
    font-size: medium;
}

#cash-given{
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    font-size: medium;

}

button {
    background-color: var(--faint-green);
    color: var(--dark-green);
    width:8vw;
    margin: 1rem auto;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
}

.errorMsg{
    color:white;
}

#table-heading{
    color: var(--faint-green);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

table, th, td{
    padding: 0.5rem;
    color: var(--dark-green);
    background-color:var(--faint-green);
    border: 2px solid var(--dark-green) ;
    border-collapse: collapse;
}
